<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Campanha Ajude Atibaia -  Compartilhe essa idéia</title>
<%=stylesheet_link_tag "homedois"%>
<%= javascript_include_tag :defaults %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10816424-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<meta name="title" content="Campanha Ajude Atibaia - Compartilhe esta idéia" />
<meta name="url" content="http://www.ajudeatibaia.com.br" />
<meta name="description" content="Campanha de mobilização social para auxílio aos moradores de Atibaia afetados pelos alagamentos causados pelas chuvas." />
<meta name="keywords" content="enchente, alagamento, atibaia, doação, ajuda, solidariedade" />
<meta name="autor" content="Rafael Matuoka Chiocchetti" />
<meta name="company" content="Korewa Web" />
<meta name="revisit-after" content="5" />
<link rev="made" href="mailto:rmatuoka@korewa.com.br" />
</head>

<body>
<div id="Menu">
	<div id="ContentMenu">

	</div>
</div>
<div id="Geral">
	<div id="Content">
		<div id="Logo"><img src="images/logo.png" /></div>
        <img src="images/35dias.png" style=" margin-bottom:-35px;"/>
        <div id="Apoio" >
        <div id="Box_apoio">
            <img src="images/euajudo.png" align="left" style="margin-right:35px; margin-top:21px;" />
                <br /><br />
                <p>A solidariedade não tem limites e não encontra obstáculos, pois a vontade coletiva de ajudar é mais forte do qualquer desafio.</p><br />
                <p> Após 35 dias de campanha o Ajude Atibaia chega ao fim, com o sentimento de dever cumprido e com a certeza de que todos os que contribuíram ajudaram milhares de pessoas a recomeçarem ou tornaram seus dias um pouco mais fáceis. </p><br />
                <p> Foram centenas de pessoas e empresas que doaram alimentos, roupas, móveis, eletrodomésticos, produtos de limpeza, brinquedos e colchões, todos engajados por uma única causa: ajudar a quem precisa.</p><br />
                <p> Durante a campanha conhecemos as histórias de pessoas que ficaram desabrigadas, moradores que vivenciam o mesmo drama ano após ano e vimos o quanto pode ser feito com trabalho conjunto e solidariedade.</p><br />
                <p>Voluntários também mostraram que doar não basta, também é preciso dedicar sua atenção àqueles que estão fragilizados,
                como um grupo de jovens que trocaram um fim de semana de descanso em uma chácara para passar dois dias desenvolvendo
                atividades recreativas com crianças em abrigos, ajudando na logística de doações e a alimentar os desabrigados que estavam
                alojados nas escolas, ou como o Eder, que mobilizou seu grupo de motociclistas e diversas pessoas para arrecadar itens da lista
                de prioridades. </p><br />
                <p>  Empresas também ajudaram, seja no apoio para que a campanha pudesse se tornar realidade ou na mobilização de recursos e de suas equipes para arrecadar alimentos e outros itens de necessidade das vítimas das enchentes.</p><br />
                <p> Ao fechar o balanço geral da campanha, ficamos surpresos com os números e muito felizes por saber que ainda existem pessoas que estão dispostas a ajudar sempre. </p><br />
                <p><b>Confira abaixo a lista do que foi arrecadado:</b></p><br />
                
                
                <table width="910" class="table">
                  <tr class="wht">
                    <td width="59" height="35" class="wred">832</td>
                    <td width="839" height="30" class="wgray">Litros de água.</td>
                  </tr>
                  <tr class="gry">
                    <td height="35" class="wred">892</td>
                    <td height="35" class="wgray">Litros de leite.</td>
                  </tr>
                  <tr class="wht">
                    <td height="35" class="wred">1.358</td>
                    <td height="35" class="wgray">Unidades de material de limpeza	(desinfetantes, detergentes, caixas de sabão em pó, etc);</td>
                  </tr>
                  <tr class="gry">
                    <td height="35" class="wred">7.348</td>
                    <td height="35" class="wgray">Unidades de produtos de higiene pessoal.</td>
                  </tr>
                  <tr class="wht">
                    <td height="35" class="wred">468kg</td>
                    <td height="35" class="wgray">De arroz e feijão.</td>
                  </tr>
                  <tr class="gry">
                    <td height="35" class="wred">5.947</td>
                    <td height="35" class="wgray">Unidades de alimentos diversos (bolachas, enlatados, trigo, etc).</td>
                  </tr>
                  <tr class="wht">
                    <td height="35" class="wred">309</td>
                    <td height="35" class="wgray">Pares de calçado.</td>
                  </tr>
                  <tr class="gry">
                    <td height="35" class="wred">19</td>
                    <td height="35" class="wgray">Eletrodomésticos.</td>
                  </tr>
                  <tr class="wht">
                    <td height="35" class="wred">28</td>
                    <td height="35" class="wgray">Móveis.</td>
                  </tr>
                  <tr class="gry">
                    <td height="35" class="wred">150</td>
                    <td height="35" class="wgray">Colchões.</td>
                  </tr>
                </table>
                <br />
                <p>  Agradecemos a todos pelo apoio, seja com doações, trabalho voluntário ou divulgando a campanha na internet, graças a
				todos vocês tudo foi possível. Agradecemos às empresas e organizações que se mobilizaram e à entidade Aeternum Dei e à Paróquia
				São Sebastião do bairro Caetetuba, que nos apoiaram recebendo às doações e auxiliando em sua distribuição, além, é claro,
				da Prefeitura da Estância de Atibaia pela parceria e apoio durante toda a campanha, sem eles muito do que foi feito não seria possível.</p><br />
                <p>Mais uma vez, todos nós da equipe do Ajude Atibaia agradecemos pela solidariedade, são pessoas e organizações com essa postura
				que têm, efetivamente, a capacidade de transformar realidades.
				</p><br />

            </div>
       	</div>
        
        <div id="Fot">
        <div id="Fot_box">Dúvidas e solicitações:
        contato@ajudeatibaia.com.br
        <a href="http://www.facebook.com/ajudeatibaia">www.facebook.com/ajudeatibaia</a>
        <a href="http://www.twitter.com/ajudeatibaia">www.twitter.com/ajudeatibaia</a></div>
        <div id="Fot_box2"><p>Telefone: (11) 2427-8880</p></div>
        </div>
    </div>
</div>
</body>
</html>

